callback:
  url: ${RASA_CALLBACK_URL}
  headers:
    X-Model-Id: ${RASA_MODEL_ID}

extras.botbuilder.BotBuilderInput:
  url: ${RASA_CALLBACK_URL}
  headers:
    X-Model-Id: ${RASA_MODEL_ID}

rest:
## You don't need to provide anything here - this channel doesn't
## require any credentials.
